#contenedor{
    height: 60%;
    width: 100%;
    margin-left: 1%;
}

#contenedor-tabla{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

#paginator-cont{
    width: 80%;
    margin-left: 10%;
}

#buttonGrafic{
  display: inline;
  margin-left: 10%;
  width: 10%;
  align-content: center;
}

.titulos{
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .formFecha {
    width: 90%;
  }

  mat-form-field {
    margin-left: 5%;
  }

  #buscar{
    margin-left: 5%;
    width: 10%;
    align-content: center;
  }