<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sistema de Riego</span>
  </mat-toolbar-row>
</mat-toolbar>

<h1 class="titulos">datos en el ambiente del terreno</h1>

<div id="contenedor-tabla">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef> Temperatura </th>
      <td mat-cell *matCellDef="let element"> {{element.tempAmbiente}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="humAmbiente">
      <th mat-header-cell *matHeaderCellDef> Humedad Ambiente </th>
      <td mat-cell *matCellDef="let element"> {{element.humAmbiente}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="humTerreno">
      <th mat-header-cell *matHeaderCellDef> Humedad Terreno </th>
      <td mat-cell *matCellDef="let element"> {{element.humTerreno}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="phTerreno">
      <th mat-header-cell *matHeaderCellDef> PH </th>
      <td mat-cell *matCellDef="let element"> {{element.phTerreno}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator id="paginator-cont" 
                            [pageSize]="pageSize" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            [showFirstLastButtons]="true" 
                            [length]="totalSize"
                            [pageIndex]="currentPage" 
                            (page)="handlePage($event)">
  </mat-paginator>
 